.emp-profile{
    background: #FFFFFF;
    border: 3px solid #1C4FB4;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 25px;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}
.photo{
    padding-top: 10px;
    margin-top: 20px;
    padding-left: 10px;
    max-width: 150px;
    max-height: 150px;   
}
.cell{
    margin-top: 20px;
}